.play {
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  aspect-ratio: 1.5;
  border-radius: 10px;
}
.video_section {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 2em 0px;
}
.section_left {
  width: 100%;
  max-width: 450px;
}
.section_rgt {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 450px;
}

.mobile_section {
  display: flex;
  justify-content: space-evenly;
}
.main_heading {
  font-size: 2.8em;
  font-family: "poppins, sans-serif";
  color: #333333;
}
.para {
  font-size: 1.8em;
  font-family: "poppins, sans-serif";
  color: #33373d;
  letter-spacing: 1px;
  text-align: justify;
}
.vision {
  width: 100%;
  max-width: 375px;
  height: auto;
}
.quotes {
  background-color: #bc907a;
  width: 100%;
  max-width: 385px;
  padding: 3.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ceo_image {
  width: 100%;
  max-width: 455px;
  aspect-ratio: 0.9;
  border-radius: 10px;
}
.ceo_section {
  display: flex;
  gap: 1em;
  padding: 4em 0px;
}
.ceo_details {
  padding: 2em;

  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.about-title {
  text-align: center;
  padding-top: 1em;
}
.ordering_methods {
  padding: 2em;
}
.methods_img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.methods_img__flex {
  display: flex;
  padding: 5em 0px;
  gap: 2em;
}
.signup_btn__about {
  font-size: 17px;
  padding: 1em 4em;
  border-radius: 15px;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  width: auto;
  letter-spacing: 0.5px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.signup_btn__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.signup_btn__about:hover {
  background-color: var(--maroon);
  border: 2px solid var(--maroon);
  color: #fff;
}
