.main_layout {
  padding: 2em 8em;
}
.layout {
  padding: 2em;
}
.main_layout b {
  font-size: 3em;
  font-family: sans-serif;
  font-weight: 500;
}
.welcome_para_ans {
  margin-top: 1em;
  font-size: 1.7em;
  text-align: justify;
}
@media screen and (max-width: 568px) {
  .main_layout {
    padding: 2em;
  }
}
