.play {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  aspect-ratio: 2;
  border-radius: 10px;
}
.video_section {
  display: flex;
  gap: 1em;
  padding: 2em 0px;
  margin: 2em 0px;
}
.section_left {
  flex: 1;
}
.section_rgt {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.mobile_section {
  background-color: #bc907a;
}
.mobile_flex {
  display: flex;
  gap: 10px;
}
.main_heading {
  font-size: 2.8em;
  font-family: "poppins, sans-serif";
  color: #333333;
}
.para {
  font-size: 1.8em;
  font-family: "poppins, sans-serif";
  color: #33373d;
  text-align: justify;
}
.vision {
  width: 100%;
  min-width: 250px;
}
.quotes_left {
  width: 100%;
  padding: 3em 3em 3em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.quotes_rgt {
  width: 100%;
  padding: 3em 0em 3em 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ceo_image {
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 10px;
}
.ceo_section {
  display: flex;
  gap: 10em;
  padding: 4em 0px;
  justify-content: space-between;
}
.ceo_details {
  padding: 2em 0em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  min-width: 200px;
}
.about-title {
  text-align: center;
}
.ordering_methods {
  padding: 2em 0px;
}
.methods_img {
  width: 100%;
  min-width: 200px;
  aspect-ratio: 1.8;
  border-radius: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.methods_img__flex {
  display: flex;
  padding: 5em 0px;
  justify-content: space-between;
  gap: 2em;
}
.signup_btn__about {
  font-size: 1.5em;
  padding: 1em 4em;
  border-radius: 1em;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  width: auto;
  letter-spacing: 0.5px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.signup_btn__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.signup_btn__about:hover {
  background-color: var(--maroon);
  border: 2px solid var(--maroon);
  color: #fff;
}
@media screen and (max-width: 825px) {
  .video_section {
    flex-wrap: wrap;
  }
  .mobile_flex {
    flex-wrap: wrap;
  }
  .quotes_left {
    max-width: 100%;
  }
  .quotes_rgt {
    max-width: 100%;
  }
  .vision {
    max-width: 100%;
    border-radius: 10px;
  }
  .ceo_section {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .methods_img__flex {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 305px) {
  .signup_btn__about {
    padding: 0.5em 1em;
  }
}
