.form_div {
  text-align: center;
}
.form {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form h1 {
  font-size: 2.5em;
  color: #1b1b1b;
}
.form_outer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 2em 2em 3em;
  width: 100%;
}
.submit_btn {
  background-color: var(--maroon);
  border: none;
  color: white;
  padding: 10px 0px;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.input_type {
  padding: 1.2em;
  border: none;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.map_section {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
}
.contact_types__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  text-align: center;
  padding: 3em 0em;
  margin: 3em 0em;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 4px;
}
.contact_types h1 {
  font-size: 2.5em;
  margin-bottom: 5px;
  color: #1b1b1b;
}
.contact_types span {
  display: inline-block;
  font-size: 1.4em;
  color: #333;
}

@media screen and (max-width: 715px) {
  .map_section {
    flex-wrap: wrap;
  }
}
