.form_div {
  text-align: center;
}
.form {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form_outer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
  padding: 20px 0px 30px;
  margin-top: 20px;
}
.submit_btn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 0px;
  width: 100%;

  max-width: 500px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}
.input_type {
  padding: 10px;
  border: none;
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
