.split_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.split_footer h3 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
}
.social_links {
  display: flex;
  gap: 10px;
}
