.brand_logo {
  width: 100%;
  min-width: 25px;
  max-width: 75px;
  cursor: pointer;
}
.banner_img {
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.global_layout {
  padding: 2em 8em;
}
.add_btn {
  width: 200px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--maroon);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.header_msg {
  text-align: center;
}
.header_msg h1 {
  font-size: 4em;
  font-weight: 400;
  color: #1b1b1b;
  margin-bottom: 5px;
}
.header_msg hr {
  display: inline-block;
  width: 120px;
  height: 3px;
  background-color: var(--maroon);
}
@media screen and (max-width: 568px) {
  .global_layout {
    padding: 2em;
  }
}
