.category_section {
  padding: 20px;
}
.category_section h1 {
  font-weight: 600;
  font-size: 3em;
  word-spacing: 1px;
}

.category_img {
  width: 100%;
  max-width: 415px;
  min-width: 200px;
  height: 100%;
  border-radius: 20px;
  opacity: 0.5;
  cursor: pointer;
  overflow: hidden;
}
.category_cards {
  position: relative;
  background-color: black;
  border-radius: 20px;
}
.category_cards__text {
  position: absolute;
  z-index: 1;
  padding-top: 10px;
  padding-left: 20px;
}
.category_cards__text h2 {
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: white;
}
.category_cards__text h3 {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: white;
}
.explore_more {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.explore_more__btn {
  background-color: var(--maroon);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 6px 26px;
  border-radius: 4px;
  cursor: pointer;
}
.category_flex {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.parallax_section {
  flex: 1;
  min-width: 200px;
  aspect-ratio: 1;
  background-attachment: fixed;
  background-image: url("/images/mutton.jpg");
  background-position: 50%;
  background-size: cover;
  border-radius: 10px;
}
.two_section {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 10px;
}

@media screen and (max-width: 1078px) {
  .category_cards {
    width: 100%;
  }
  .category_img {
    max-width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .category_flex {
    width: 100%;
  }
  .parallax_section {
    width: 100%;
  }
  .two_section {
    gap: 20px;
  }
}
