.split_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.split_nav h3 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}
.pages_flex {
  display: flex;
  gap: 8em;
}

.cart_img {
  width: 24px;
  cursor: pointer;
}
.location_flex {
  display: flex;
}
.location_flex h1 {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 19.5px;
  color: rgb(18, 18, 18);
}
.location_flex h2 {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 15.85px;
  color: rgb(126, 125, 125);
}
.value {
  font-size: 1.2em;
  padding-bottom: 15px;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 899px) {
  .hamburger {
    display: block;
  }
  .pages {
    display: none;
  }
}
