.nav_bg {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.split_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.split_nav h3 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
}
.pages_flex {
  display: flex;
  gap: 8em;
}

.cart_img {
  width: 24px;
  cursor: pointer;
}
.location_flex {
  display: flex;
}
.location_flex h1 {
  font-size: 1.6em;
  font-weight: 600;
  line-height: 19.5px;
  color: rgb(18, 18, 18);
}
.location_flex h2 {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 15.85px;
  color: rgb(126, 125, 125);
}
.value {
  font-size: 1.2em;
  padding: 2px 6px;
  background-color: var(--maroon);
  color: #fff;
  border-radius: 50%;
}
.handle_value {
  padding-bottom: 15px;
}
.hamburger {
  display: none;
}
.ham_menu {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.hidden {
  display: none;
}
.ham_links {
  border: 1px solid #333;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ham_links h3 {
  font-size: 2.5em;
  font-family: 500;
}

.circle_remove {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  z-index: 1;
}
@media screen and (max-width: 899px) {
  .hamburger {
    display: block;
  }
  .pages {
    display: none;
  }
}
