.prod_detail_img {
  height: 35em;
}
.similar_flex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5em;
  gap: 1.5em;
}
.similar_prod__card {
  padding: 1.5em;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all 0.4s;
}
.similar_prod__card:hover {
  transform: scale(1.04);
}
.similar_prod__img {
  width: 100%;
  max-width: 405px;
  min-width: 200px;
  margin-bottom: 1em;
  border-radius: 4px;
}
@media screen and (max-width: 1044px) {
  .similar_prod__card {
    width: 100%;
  }
  .similar_prod__img {
    max-width: 100%;
    aspect-ratio: 3;
  }
}
