.login_signup__container {
  background-color: black;
  position: relative;
}

.login_signup__bg {
  opacity: 0.5;
  background-image: url("/images/rawmeat.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.popup {
  width: 100%;
  position: absolute;
  top: 5%;
  align-items: center;
}
.popup_heading {
  color: white;
  font-size: 4.8em;
  font-family: "Montserrat, Raleway, Arial, sans-serif";
}
.popup_container {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  aspect-ratio: 1;
  border-radius: 8px;
  background-color: #fff;
  padding: 4em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup_container h1:nth-child(1) span {
  color: var(--maroon);
}
.popup_container h2:nth-child(2) {
  font-size: 1.5em;
  font-family: sans-serif;
  color: #7e7d7d;
}
.user_input {
  width: 100%;
  padding: 1em;
}
.user_input:focus {
  border-color: var(--maroon);
  box-shadow: 0 0 5px var(--maroon);
}
.link_heading {
  font-size: 1.4em;
  font-family: sans-serif;
  color: #343232;
}
.shift_checkbox {
  position: relative;
  top: 2px;
}
